{% if export.options %}
    <div id="titlebar-button-export" class="button-group">
        <button id="titlebar-button-export" type="button" class="button dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-download"></i> {{ 'PLUGIN_ADMIN.EXPORT'|tu }} <i class="fa fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu lang-switcher">
            {% for type,option in export.options %}
                <li>
                    <a id="titlebar-button-export" class="button" href="{{ route.withGravParam('', 'export').withQueryParam('type', type) }}">
                        {{ option.title|tu }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% else %}
<a id="titlebar-button-export" class="button" href="{{ route.withGravParam('', 'export') }}">
    <i class="fa fa-download"></i> {{ export.title ?? (export.formatter.class ? 'PLUGIN_ADMIN.EXPORT'|tu : 'PLUGIN_FLEX_OBJECTS.CSV'|tu) }}
</a>
{% endif %}