<div id="titlebar-add" class="button-group">
    <button type="button" class="button disabled" href="#modal" data-remodal-target="modal">
        <i class="fa fa-plus"></i> {{ "PLUGIN_ADMIN.ADD"|tu }}
    </button>
    <button type="button" class="button dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-caret-down"></i>
    </button>
    <ul class="dropdown-menu">
        <li><a class="button" href="#modal" data-remodal-target="modal">{{ "PLUGIN_ADMIN.ADD_PAGE"|tu }}</a></li>
        <li><a class="button" href="#modal-folder" data-remodal-target="modal-folder">{{ "PLUGIN_ADMIN.ADD_FOLDER"|tu }}</a></li>
        {% if admin.modularTypes is not empty %}
        <li><a class="button" href="#module" data-remodal-target="module">{{ "PLUGIN_ADMIN.ADD_MODULE"|tu }}</a></li>
        {% endif %}
        {% for key, add_modal in config.plugins.admin.add_modals %}
            {% if add_modal.show_in|defined('bar') == 'dropdown' %}
                <li><a class="button {{ add_modal.link_classes }}" href="#modal-add_modal-{{ key }}" data-remodal-target="modal-add_modal-{{ key }}">{{ add_modal.label|tu }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
